@import "tailwindcss";

@theme {
    --color-yellow: #EDBE3C;
    --color-brown: #6D533B;
    --color-dark-brown: #3B3026;
    --color-gray: #5F5554;
    --color-light-blue: #0E626C;
    --color-emerald: #006645;
}

/* CUSTOM SHADOW-BOX */
.inset-shadow {
    @apply shadow-[0px_50px_100px_-20px_rgba(50,50,93,0.25),0px_30px_60px_-30px_rgba(0,0,0,0.3),0px_-2px_6px_0px_rgba(10,37,64,0.35)_inset]
}

/* CUSTOM HORIZONTAL SCROLLBAR */
.custom-scrollbar::-webkit-scrollbar {
    @apply h-2
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-emerald rounded-sm
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-200 rounded-sm
}

.global-button-style {
    @apply bg-emerald text-white rounded-lg transition-all duration-300 hover:bg-white
    hover:text-emerald cursor-pointer border-2 border-transparent hover:border-emerald
}